body{
    background-color: #e8f5e9 ;
}

.row,.validate,.active{
    color: #2e7d32 ;
}

.btn,.nav-wrapper{
    background-color: #43a047; 
}

.btn:hover{
    background-color: #2e7d32;
}

fieldset, .solicitacoes{
    background-color: white;


}
img{
    width: 80px;
    height:80px;
}

.amizade{
    width:60px;
    height:60px;
    font-size:25px;
}

.comentario{
    width:30px;
    height:30px;
    font-size: 20px;
}

.notificacao{
    width: 50px;
    height:50px;
}

label {
    font-size: 20px;
    color: black;
}

::placeholder{
    color :#2e7d32;  
}

.responsive-table{
    background-color: white;
    width: 80%;
}

td{
    vertical-align: top;
}

#nome{
    font-size: 35px;
    color: black;
}

#busca, .alinhado{
    float:right;
}

.cancelar, .cancelar:hover{
    background-color: #ef5350  ;
}

.logo{
    width: 25%;
    height: 25%;
}

.logo_bar{
    width:10%;
    height: 100%;
}

.icone_confirma{
    color: green;
}
.icone_recusa{
    color: #ef5350;
}

.recomendacao{
    width: 40px;
    height:40px;
    font-size: 20px;
}

#soelas{
    color: #ef5350;
}

#mensagem_usuario{
    text-align: right;
    font-size: 20px;
    display: block;
}


#mensagem_amigo{
    font-size: 20px;
    border-radius: 10px;
    color : black;
    padding-top: 5px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: lightgrey;
}

.campo{
    border: 1px solid;
    background-color: white;
    padding: 25px 25px;
    border-radius: 10px;
}

.mensagem{
    width:25px;
    height:25px;   
}
