body{
    background-color: #eceff1   ;
}

.row,.validate,.active{
    color: #2e7d32 ;
}

.btn,.nav-wrapper{
    background-color: #2e7d32 ;
}

.btn:hover{
    background-color: #2e7d32;
}


img{
    width: 80px;
    height:80px;
}

label {
    font-size: 30px;
    color:#2e7d32;
}

::placeholder{
    color :#2e7d32;  
}

table{
    width: 100%;
}

td{
    vertical-align: top;
}

#nome{
    font-size: 35px;
    color: black;
}

#busca{
    float:right;
}