body{
    background-color: #e8f5e9 ;
}

.row,.validate,.active{
    color: #2e7d32 ;
}

.btn,.nav-wrapper{
    background-color: #43a047; 
}

.btn:hover{
    background-color: #2e7d32;
}

fieldset, .solicitacoes{
    background-color: white;

}
img{
    width: 80px;
    height:80px;
}

.amizade{
    width:60px;
    height:60px;
    font-size:25px;
}

label {
    font-size: 30px;
    color: #2e7d32;
}

::placeholder{
    color :#2e7d32;  
}

.responsive-table{
    background-color: white;
    width: 80%;
}

td{
    vertical-align: top;
}

#nome{
    font-size: 35px;
    color: black;
}

#busca, .alinhado{
    float:right;
}

.cancelar, .cancelar:hover{
    background-color: #ef5350  ;
}

.logo{
    width: 25%;
    height: 25%;
}

.logo_bar{
    width:10%;
    height: 100%;
}